<div class="main">
	<p class="starry">STAR</br>WARS</p>
	<p class="subhead">spenser tingey's rails api project</p>

	<% for x, y in @menuitems %>
			<p><%= link_to(x, {action: x.split('/')[-1]},class: "lister")%></p>
		<%end%>
</div>
