<div class = "main">
	<p class ="subhead">characters</p>

	<%for x in @people%>
      <p class = "lister"><%=link_to(x['name'].downcase,{action: "peopleprofile",id:x['id']},class:"yelp")%></p>


    <%end%>
		<button><%= link_to("home",{action:"home"}) %></button>



</div>
