<div class = "main">
	<p class="subhead">planets</p>

	<%for x in @planet%>
      <p class="lister"><%=link_to(x['name'].downcase,{action:"planetprofile",id:x['id']},class:"yelp")%></p>

    <%end%>
		<button><%= link_to("home",{action:"home"}) %></button>
</div>
