<dir class = "main">
	<p class="subhead">starships</p>

	<%for x in @starship%>
      <p class="lister"><%= x['name'].downcase%></p>
    <%end%>
		<button><%= link_to("home",{action:"home"}) %></button>
</dir>
