<dir class = "main">
	<p class = "subhead">vehicles</p>

	<%for x in @vehicle%>
      <p class="lister"><%= x['name'].downcase%></p>

    <%end%>
		<button><%= link_to("home",{action:"home"}) %></button>
</dir>
